name: rust-build

on:
  workflow_dispatch:
  push:
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: contracts
    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev pkg-config

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: wasm32-unknown-unknown
          components: rustfmt

        # TODO: fix miss cause could not find `Cargo.toml` in `/home/runner/work/ft-allowance-agent/ft-allowance-agent` or any parent directory
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Install cargo-near
        run: cargo install cargo-near --version 0.15.0 --locked

      - name: Build Rust code
        run: |
          rustup component add rust-src
          chmod +x build_auth_proxy.sh
          ./build_auth_proxy.sh
          cd factory
          RUSTFLAGS="-Z unstable-options" cargo +nightly near build non-reproducible-wasm --no-abi --enable-bulk-memory
